.clock-lottie {
  background-color: white;
  animation: clock-lottie-dark 5.1s;
}

body.dark {
  .clock-lottie {
    background-color: #0f172a;
    animation: clock-lottie 5.1s;
  }
}

@keyframes clock-lottie {
  0% {
    clip-path: circle(0% at 50% 50%);
    background-color: white;
    opacity: 1;
  }

  100% {
    clip-path: circle(150% at 50% 50%);
    background-color: #0f172a;
    opacity: 0;
  }
}

@keyframes clock-lottie-dark {
  0% {
    clip-path: circle(0% at 50% 50%);
    background-color: #0f172a;
    opacity: 1;
  }
  100% {
    clip-path: circle(150% at 50% 50%);
    background-color: white;
    opacity: 0;
  }
}
