body.dark {
  .clock {
    background-color: #0f172a;

    span {
      color: #fff;
    }
  }
}

.clock {
  background-color: #f9f9f9;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
