:root {
  --search-engine-color: '#fff';
}

.dark {
  .google-search-container {
    display: flex;
    align-items: center;
    border-radius: 5rem;
    background: rgb(30, 41, 59);
  }
}

.google-search-container {
  display: flex;
  align-items: center;
  border-radius: 5rem;
  border: 3px solid var(--search-engine-color) !important;
  background: rgba(209, 213, 219, 0.332);
  transition: all 0.3s;
  color: var(--search-engine-color);

  .logo {
    position: absolute;
    left: 1rem;
    font-size: 2rem;
  }

  .search-icon {
    position: absolute;
    right: 1rem;
    font-size: 2rem;
  }

  input {
    all: unset;
    padding: 1.5rem 4rem;

    &::placeholder {
      color: #9a9a9a75;
    }
  }
}

.google-search-container-active {
  bottom: auto;
  bottom: 50%;
  transform: translateY(-50%);
  width: 40rem;
  left: 50%;
  transform: translateX(-50%);
}

.search-change-animation {
  animation: search-box-bouncy-glow 0.3s linear;
  will-change: transform, box-shadow;

  @keyframes search-box-bouncy-glow {
    0% {
      // transform: scale(1);
      box-shadow: 0 0 10px 10px var(--search-engine-color);
      opacity: 1;
    }

    30% {
      // transform: scale(1.1);
      box-shadow: 0 0 20px 20px var(--search-engine-color);
      opacity: 0.9;
    }

    50% {
      // transform: scale(0.95);
      box-shadow: 0 0 30px 15px var(--search-engine-color);
      opacity: 0.7;
    }

    80% {
      // transform: scale(1.05);
      box-shadow: 0 0 15px 10px var(--search-engine-color);
      opacity: 0.5;
    }

    100% {
      // transform: scale(1);
      box-shadow: 0 0 0px 0px var(--search-engine-color);
      opacity: 0;
    }
  }
}
