:root {
  --weather-card-color: #fff;
}

body.dark {
  .weather-wrapper {
    background: #0f172a;
  }
}

.weather-wrapper-full {
  .weather-wrapper {
    position: relative;
    background: #ffffff;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--weather-card-color);
      filter: blur(200px);
      // background-color: var(--weather-card-color);
      z-index: -1;
    }
  }
}
