@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

body.dark {
  background-color: #0f172a;

  .general-shadow {
    box-shadow: 0 0 20px 5px #0d296b4b;
  }
}

.general-shadow {
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.125);
}
